body{ 
    font-family: 'Source Sans Pro', sans-serif;
}
.Topbar {
    width: 100%;
    background-color:black;
    padding: 24px 48px 12px ;
    text-align: center;
    position:fixed;
    top: 0;
    left: 0;
}
.Topbar > img {
    height: 5vh;
    width: auto;
}

.mainContainer {
    padding: 4% 0;
    width: 100%;
    display:flex;
    align-items: center;
}
   
.productData {
    width: 50%;
}
.productTitle {
    font-weight: 600;
    font-size: 48px;
    margin-bottom:16px;
}
.productDescription {
    font-size: 20px;
    color:rgba(0,0,0,0.8);
    margin-top:0;
    margin-bottom:16px;
}
.productColorImages {
    height:15vh;
    width: auto;
}
.sectionheading {
    font-size: 6vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
.featuresItem {
    background-color:gainsboro;
    border-radius: 8px;
    border:0;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
    padding: 12px 24px;
    font-weight: 600;
    box-sizing: content-box;
}
.selectedFeatureItem {
    background-color:gray;
    color:#FFFFFF;
}

.productImage {
    width: 100%;
    max-width: 80px;
    border: 2px solid transparent;
    border-radius: 8px;
    margin-right: 12px;
    cursor: pointer;
}
.selectedProductImage {
    border: 2px solid teal;
}
.sectionheading {
    font-size: 28px;
    margin-bottom: 8px;
}

.primaryButton {
    color: white;
    background-color:teal;
    font-size: 20px;
    border-radius: 8px;
    border:0;
    padding: 12px 24px;
    margin-top: 36px;
}
/* .productImageSection {
    position: relative;
}
.textOnImage {
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    color: #ffff;
    font-weight: bold;
} */